html {
    overflow-y: scroll;
}

body {
    background-color: #f8f9fa;
}

.search-container {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin-top: 1rem;
}

.book-card {
    margin-bottom: 1rem;
}
